*{
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "나눔바른펜", "nanum-barun-pen";
}
*::before, *::after{
  margin: 0;
  padding: 0;
}

:root{
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515c6f;
  --white: #fff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0, 0, 0, 0.15);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}

.music-wrapper{
  position: relative;
  width: 380px;
  border-radius: 15px;
  padding: 25px 30px;
  /* background: var(--white); */
  background: #fff2f4;
  box-shadow: 0px 6px 15px var(--lightbshadow),
    inset 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  i{
    cursor: pointer;
  } // i

  .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
      user-select: none;
      font-size: 30px;
      color: var(--lightblack);
    } // i
    span{
      user-select: none;
      font-size: 18px;
      color: var(--lightblack);
    } // span
  } // top-bar

  .img-area{
    width: 100%;
    height: 256px;/* 320px */
    margin-top: 25px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 6px 12px var(--lightbshadow);
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    } // img
  } // img-area

  .song-details{
    text-align: center;
    margin: 30px 0;
    color: var(--lightblack);
    .name{
      user-select: none;
      font-size: 21px;
    } // name
    .artist{
      user-select: none;
      font-size: 18px;
      opacity: 0.9;
      line-height: 35px;
    } // artist
  } // song-details

  .progress-area{
    width: 100%;
    height: 6px;
    border-radius: 50px;
    cursor: pointer;
    background: #d2d4e5;
    &:hover .progress-bar::before{
      opacity: 1;
      /* pointer-events: auto; */
    } // &:hover .progress-bar::before
    .progress-bar{
      position: relative;
      width: 0%;
      height: inherit;
      border-radius: inherit;
      background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        right: -5px;
        width: 12px;
        height: 12px;
        border-radius: inherit;
        background: inherit;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.2s ease;
      } // progress-bar::before
    } // progress-bar
    .timer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2px;
      span{
        user-select: none;
        font-size: 13px;
        color: var(--lightblack);
      } // span
    } // timer
  } // progress-area

  .controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 5px 0;
    i{
      font-size: 28px;
      user-select: none;

      // background 색 > text clip > text 부분 backround로 체우기
      background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      &:nth-child(2), &:nth-child(4){
        font-size: 43px;
      } // &:nth-child(2), &:nth-child(4)
    } // i
    #prev{
      margin-right: -13px; 
    } // #prev
    #next{
      margin-left: -13px;
    } // #next
    .play-pause{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 54px;
      height: 54px;
      background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
      box-shadow: 0px 0px 5px var(--pink);
      border-radius: 50%;
      &::before{
        content: '';
        position: absolute;
        width: 43px;
        height: 43px;
        border-radius: inherit;
        background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
      } // play-pause::before
      i{
        position: relative;
        width: 43px;
        height: 43px;
        line-height: 43px;
        text-align: center;
        border-radius: inherit;
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &.material-symbols-outlined {
          font-variation-settings:
          'FILL' 1,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
      } // i
    } // play-pause
  } // controls

  .music-list{
    position: absolute;
    left: 0;
    bottom: -55%;
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.14s ease-out;
    &.show{
      bottom: 0%;
      opacity: 1;
      pointer-events: auto;;
      
    } // music-list.show
    .music-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .row{
        display: flex;
        align-items: center;
        font-size: 19px;
        color: var(--lightblack);
        i{
          user-select: none;
          cursor: default;
        } // i
        span{
          user-select: none;
          margin-left: 5px;
        } // span
      } // header > row
      #close{
        user-select: none;
        font-size: 22px;
        color: var(--lightblack);
      } // header > #close
    } // header
    ul{
      margin: 10px 0;
      max-height: 260px;
      overflow-y: auto;
      &::-webkit-scrollbar{
        width: 0px;
      } // ul::-webkit-scrollbar
      li{
        user-select: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        margin-right: 20px;
        margin-bottom: 5px;
        border-bottom: 1px solid #e5e5e5;
        color: var(--lightblack);
        box-sizing: border-box;
        &.playing{
          color: var(--violet);
          pointer-events: none;
        } // playing
        &:last-child{
          border-bottom: 0px;
        } // li:last-child
        .row{
          span{
            font-size: 17px;
          } // span
          p{
            opacity: 0.7;
          } // p
        } // li > row
        .audio-duration{
          user-select: none;
          font-size: 16px;
        } // audio-duration
        span.active{
          font-size: 24px;
          animation: playMusicNote 1.5s ease-in-out infinite;
        } // span.active
      } // ul > li
    } // ul
  } // music-list
} // music-wrapper

@keyframes playMusicNote{
  0%{
    transform: rotate(10deg) translateY(7px);
  }
  50%{
    transform: rotate(10deg) translateY(0px);
  }
  100%{
    transform: rotate(10deg) translateY(7px);
  }
}